span {
  font-weight: bold;
}

.profile {
  display: flex;
  justify-content: center;
}

.extraTop{
  margin-top: 130px;
}

.pic > img {
  border-radius: 15px;
  margin: 20px;
  width: 420px;
  height: 605px;
  border: solid 3px rgb(43, 6, 49);
  box-shadow: 5px 5px 6px -1px #AAA;
}

.bio-skills {
  width: 40%;
  margin: 0 70px;
  padding-top: 50px;
}

@media only screen and (max-width: 1400px) {
  .profile {
    flex-direction: column;
  }

  .pic > img {
    border-radius: 15px;
    margin: 20px;
    width: 300px;
    height: 450px;
    border: solid 3px rgb(43, 6, 49);
    box-shadow: 5px 5px 6px -1px #AAA;
  }

  .bio-skills {
    width: 90%;
    padding: 0;
    margin: 20px;
    margin-left: 50px;
  }

  .bio-skills > p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .pic > img {
    width: 300px;
    height: 450px;
    margin-left: 30px;
  }

  .bio-skills {
    width: 90%;
    padding: 0;
    margin: 20px;
    font-size: 1.8rem;
  }

  .extraTop{
    margin-top: 100px;
  }
}