span {
  font-weight: bold;
}

.name {
  margin: 0;
  font-size: 4rem;
}

.title {
  margin-top: 0;
  font-size: 2.5rem;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.pic > img {
  border-radius: 50%;
  margin: 100px;
  width: 250px;
  border: solid 3px var(--purple);
}

.profile {
  background: var(--purple);
  color: var(--pink);
  padding: 100px;
}

.profile > h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;;
}

@media only screen and (max-width: 1000px) {

  .pic {
    display: flex;
    flex-direction: column;
  }

  .pic > img {
    margin: 20px;
    border: solid 3px rgb(43, 6, 49);
  }

  .bio-skills {
    width: 90%;
    padding: 0;
    margin: 20px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .pic > img {
    margin-left: 30px;
  }

  .bio-skills {
    width: 90%;
    padding: 0;
    margin: 20px;
    font-size: 1.8rem;
  }
}