header {
  background-image: url('../assets/flowers.jpg');
  background-size: contain;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  border-bottom: 2px solid #debe85;
  background-color: #f7f7f77c;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.name {
  margin: 0;
  padding-top: 50px;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}

.title {
  font-size: 2.5rem;
  padding-bottom: 50px;
}

.scrolled{
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #f7f7f7e0;
  border-bottom: 2px solid rgb(43, 6, 49);
}

nav > a {
  justify-content: space-around;
}

@media only screen and (max-width: 1650px) {
  .name {
    margin: 0;
    padding-top: 50px;
  }

}

@media only screen and (max-width: 768px) {
  .hide {
    display: none;
  }

  .name {
    font-size: 4rem;
  }

  .title {
    font-size: 2rem;
    margin: 0;
  }
}
