header {
  background-color: rgba(217, 236, 252, 0.838);
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  border-bottom: 3px solid black;
}

.name {
  margin: 0;
  padding-top: 50px;
  font-size: 7rem;
}

.title {
  font-size: 3rem;
}

.scrolled{
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(217, 236, 252, 0.756)
}

nav > a {
  justify-content: space-around;
  color: black;
}
