.project-row {
  display: flex;
  align-items: start;
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  width: 50%;
}

.project-div a {
  color: var(--purple);
}

.subtitle {
  font-size: 1.75rem;
}

.subsubtitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-img > a >img {
  width: 500px;
  border-radius: 15px;
  border: solid 3px var(--purple);
}

.links a{
  padding: 0 20px;
  font-weight: bold;
}

#projects > h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .project-img > a > img {
    width: 300px;
  }
}

@media only screen and (max-width: 860px) {
  .project-row {
    flex-direction: column;
  }
}