.project-div {
  display: flex;
  margin: 50px;
}

.project-description {
  width: 60%;
  margin: 20px;
}

.project-img > img {
  width: 90%;
  border-radius: 15px;
  border: solid 3px black;
  box-shadow: 5px 5px 6px -1px #AAA;
}

.project-description > h2 {
  font-size: 2rem;
}