body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(244,188,245);
  background: linear-gradient(0deg, rgba(244,188,245,1) 0%, rgba(247,247,247,1) 84%); 
  color: rgb(43, 6, 49);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding-top: 50px;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: rgb(43, 6, 49);
}

a:hover {
  text-decoration: underline;
}

section > h1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 768px) {

  section {
    padding-top: 20px;
  }

  section > h1 {
    font-size: 3rem;
  }
}